{
    "ignore": [
      "**/*.min.js"
    ],
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false,
          "loose": true,
          "useBuiltIns": "usage",
          "corejs":"core-js@2"
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      "react-hot-loader/babel",
      "@babel/plugin-transform-runtime",
      ["@babel/plugin-proposal-decorators",{
        "legacy":true
      }],
      "@babel/plugin-syntax-dynamic-import",
      [
        "import",
        {
          "libraryName": "antd",
          "libraryDirectory": "es",
          "style": true
        }
      ]
    ]
  }
  