{
  "ignore": [
    "**/*.min.js"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage",
        "corejs":"core-js@2"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators",{
      "legacy":true
    }]
  ]
}
